
@model WebApplicationAspMvc7.Models.Department

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="container">
            <form method="post">
                <div class="row" style="margin-bottom:150px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-5">
                        <br />
                        <h2>Add Employee</h2>
                        <br />
                        <br />
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Display_Employee", "Home")">
                            <span>Display Data</span>
                        </a>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4"></div>
                </div>

                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Select Department</label>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownList("Dept_Id", new SelectList(Model.deptInfo, "Dept_Id", "Dept_name"), " -- Select User -- ", new { @class = "form-control" })
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-5">
                        Male:   @Html.RadioButton("Gender", "Male")
                        Female: @Html.RadioButton("Gender", "Female")
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Email</label>
                    </div>
                    <div class="col-md-5">
                        <input type="email" name="Email" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input type="reset" value="Reset" class="btn btn-danger" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
